*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


::-webkit-scrollbar{
    width: 4px;
    background-color: #121213;
}

::-webkit-scrollbar-thumb{
    background: #d7ae5a;
    
}

a{
    text-decoration: none;
    color: white;
    cursor: pointer;
}

header .container{
    max-width: 1330px !important;
}
.first-header {
    background-color: #1f1f1f;
    padding: 13.5px 70px;
    color: white;
}


.first-header p{
    color: #fff;
    font-weight: 400;
    font-size: 17.5px;
}


.last-header{
    padding:  30px 70px;
    position:relative;
    z-index: 2000;
}
.last-header .nav .nav-item:not(:last-child){
    margin-right: 5px;
}
.last-header .nav .nav-item a{
    font-size: 14px;
    font-weight: 800;
    font-family: 'Urbanist', sans-serif;
    text-transform: uppercase;
    position: relative;
    color: white;
   transition: 500ms ease;
}
.last-header .nav .nav-item a:hover{
    color: #bf9239;
}
.last-header .nav .nav-item a i{
    padding-left: 7px;
}
.last-header  .h-icons .right-icons i{
    color: #d7d7d7;
    font-size: 24px;
    cursor: pointer;
    margin-right: 30px;
    transition: 500ms ease;
}
.last-header  .h-icons i:hover{
    color: #bf9239;
}
.last-header .h-icons .right-icons::before{
    position: absolute;
    content: '';
    background: #d5d5d5;
    width: 1px;
    height: 34px;
    top: -5px;
    right: 0;
}
.last-header .h-icons .ic{
    border-radius: 50%;
    border: 1px solid #fafafa;
    width: 34px;
    height: 34px;
    text-align: center;
    line-height: 34px;
    margin-right: 15px;
    transition: 500ms ease;
    cursor: pointer;
    font-size: 15px;
    transition: 500ms ease;
}
.last-header .h-icons .ic:hover{
    background-color: #bf9239;
    border-color: #bf9239;
    
}
.last-header .h-icons .ic i{
    line-height: 1;
    color: #cccccd;
}

header ul .home-li + div{
    position: absolute;
    display: none;
    background-color: rgba(0, 0, 0, 0.85);
    padding: 20px;
    padding-left: 32px;
    top: 80px;
    left: 410px;
    width: 180px;
    color:white;
    background-color: #1f1f1f;
 }
 
 
 header ul .home-li + div >div{
    display: grid;
    grid-template-columns: 50%;
    column-gap: 10px;
   
 
 }
 
 header ul .home-li + div div p{
    padding-bottom: 7px;
 }
 header ul .home-li:hover +div{
   display: block;
  
 }
 
 header ul .home-li:hover  a i{
    animation: down 1.5s infinite ;
    transform: translateY(0);
 }

 header .dropdown-menu {
    background-color: #1f1f1f;
    padding: 20px 20px;


 }
 header .dropdown-menu li{
    position: relative !important;
 }
 header .dropdown-menu li a{
    padding-bottom: 10px;
    text-transform: capitalize !important;
    font-family: "Kumbh Sans", sans-serif !important;
    transition: all 500ms ease !important;
    font-weight: 400 !important; 
    font-size: 18px !important;
    

 }
 header .dropdown-menu li a:hover{
    background-color: transparent !important;
   transform: translateX(20px);
 }
 header .dropdown-menu li a::before{
    position: absolute;
    content: '';
    width: 8px;
    height: 8px;
    left: 0px;
    top: 10px;
    transform: rotate(45deg);
    opacity: 0;
    transition: all 500ms ease;
    background: #d7ae5a;
 }
 header .dropdown-menu li a:hover:before{
    
    transform: rotate(45deg);
    opacity: 1;
    
 }
 
 header .modal-content{
    background: #1f1f1f;
    border: 1px solid #393939;
    padding-top: 30px;
    padding-bottom: 20px;
 }

 header .modal-content .shape-1{
 background-image: url(https://fastwpdemo.com/newwp/heritaste/wp-content/themes/heritaste/assets/images/shape/shape-72.png);
 position: absolute;
 left: 0px;
 top: 0px;
 width: 21px;
 height: 217px;
 background-repeat: no-repeat; 
}
 header .modal-content .shape-2{
    background-image: url(https://fastwpdemo.com/newwp/heritaste/wp-content/themes/heritaste/assets/images/shape/shape-72.png);
    position: absolute;
    right: 0px;
    bottom: 0px;
    width: 21px;
    height: 217px;
    background-repeat: no-repeat;
 }
 
 header .modal-content .modal-footer{
    border-top:none  ;
 }

 header .modal-content form .input {
    width: 85% ;
    margin: auto;
 }
 header .modal-content form .input input,
 header .modal-content form .input textarea{
    font-family: 'Kumbh Sans', sans-serif;
    font-weight: 400;
    width: 100%;
    height: 54px;
    background: #fff;
    border: 1px solid #fff;
    font-size: 18px;
    color: #75706d;
    padding: 10px 20px;
    transition: all 500ms ease;
    border-radius: 0 ;
    text-transform: capitalize;
 }
 header .modal-content form .input textarea{
    height: 112px;

 }
 header .modal-content  .modal-footer .modal-btn{
    color: #fff;
    font-family: 'Urbanist', sans-serif;
    text-transform: uppercase;
    background: #d7ae5a;
    cursor: pointer;
    display: inline-block;
    font-size: 13px;
    font-weight: 700;
    padding: 17px 30px 17px 30px;
    border-radius: 35px;
    transition: all 500ms ease;
    border: 1px solid #d7ae5a;
    margin: auto;
 }
 header .modal-content  .modal-footer .modal-btn:hover{
    background: transparent;
    border: 1px solid #d7ae5a;
}
 @keyframes down{
 
    0%{
     transform: translateY(3px);
    }
    50%{
     transform: translateY(-3px);
    }
     100%{
     transform: translateY(3px);
    } 
  }

  header .ul-icon{
    display: none;
    position: relative;
    text-align: end;
 }
 header .ul-icon i{
    font-size: 27px;
    cursor: pointer;
    color: #bf9239;
 }
 header .ul-icon .icon-details{
   
    
    background-color: #1f1f1f;
    color: white;
   
    padding: 10px 8px;
 }
 header .ul-icon .icon-details a{
    text-decoration: none;
    color: white;
 }
 
 header .ul-icon .icon-details p{
    border-bottom:1px solid #1c231f4b;
    font-size: 20px;
    color: white;
    padding: 10px 15px;
    transition: 0.4s;
 }
 
 header .ul-icon .icon-details p:hover{
    background-color: #2c3529be;
    color: white;
 }
 
 
/* RESPONSIVE */

  @media screen and (max-width: 767px) {
    .first-header{
        padding: 11px 30px;
    }
    .first-header p{
        
        font-size: 12px;
    }
    .first-header img{
        width: 10%;
    }
    .last-header  .h-icons{
        display: none !important;
    }
    .last-header .col-7{
        width: 80%;
    }
   

    .last-header{
        padding:  13px 30px;
       
    }
    .last-header .nav{
        justify-content: end !important;
    }
   .last-header .nav .nav-item:not(:last-child){
        margin-right:0px;
    }
      
    .last-header .nav .nav-item a{
        font-size: 12.3px;
      
    }
    
    .last-header .nav .nav-item a i{
        display: none;
    }
    
  
    
    header ul .home-li + div{
        
        padding: 17px;
        padding-left: 26px;
        top: 60px;
        left: 220px;
        width: 150px;
        
     }
     
     header ul .home-li + div >div{
        display: grid;
        grid-template-columns: 100%;
        column-gap: 0px;
     }
     
     header ul .home-li + div div p{
        padding-bottom: 0px;
     }
     header ul .home-li + div div p:last-child{
        margin-bottom: 2px !important;
     }
     header .dropdown-menu {
        background-color: #1f1f1f;
        padding: 15px 10px;
    
    
     }
     header .dropdown-menu li a{
        padding-bottom: 8px;
        font-weight: 300 !important; 
        font-size: 16px !important;
    
     }
      
     header .dropdown-menu li a:hover{
       transform: translateX(15px);
     }

     header .modal-content form .input input,
     header .modal-content form .input textarea{
       
        font-size: 16px;
      
     }
     
  }

  @media screen and (max-width: 480px){
    .first-header{
        padding: 5px 0px;
    }
    .first-header p{
        
        font-size: 8.5px;
    }
    .last-header{
        padding: 12px 10px;
    }

    .last-header .col-2{
        width: 30%;
    }
    .last-header .col-7{
        width: 70%;
        
    }
    header .nav{
        display: none !important;
     }
    header .ul-icon{
        display: block;
     }
  
    
    
  }
/* aside */
aside{
    position: fixed;
    margin: auto;
    text-align :center;
    height: 25%;
    z-index: 999;
    right: 2px;
    top: 50%;
    transform: translateY(-50%);

}

aside ul{
    flex-direction: column;
}

aside ul li{
    background-color: white;
    border-bottom: 1px solid black;
    transition: 0.5s ease;
}
aside ul li:last-child{
    border-bottom: none;
}
aside ul a{
    padding: 4px 10px !important;

}
aside ul i{
    color:black;
    font-size: 19px;
    line-height: 2 !important;
}

aside ul li:hover{
    background-color: #d7ae5a;
}

/* RESPONSIVE */

@media screen and (max-width: 767px) {
   
  
    aside ul a{
        padding: 3.5px 8px !important;
    
    }
    aside ul i{
        font-size: 18px;
    }
  
}

@media screen and (max-width: 480px){
    aside ul a{
        padding: 1.6px 5px !important;
    }
    aside ul i{
        font-size: 17px;
    }
}
/* end aside */

/* MAIN */
main{
    margin-top: -100px;
}
main .main-container{
  height: 110vh;
  
}
main .carousel{
    height: 110vh !important;
}
main .main-container .carousel .carousel-inner img{
    width: 100%;
    height:  110vh !important;
}
.carousel-indicators{
    left: 40px !important;
    flex-direction: column;
    align-items: center;
    right: 100% !important;
    margin-left: 50px !important;
    top: 54%;
    transform: translateY(-50%);
    margin-right: 0 !important;
}

.carousel-indicators button{
    height : 65px !important;
    width: 3px !important;
}
.carousel-caption{
    position: absolute;
    left: 160px!important;
    right: 100% !important;
    top:50%;
    transform: translateY(-50%);
    z-index: 2;
    width: 650px;
    text-align: start !important;
}
.carousel-caption >span{
    margin-bottom: 11px;
    color: #d7ae5a;
    font-size: 30px;
    font-weight: 500;
    font-family: 'Just Another Hand', cursive;
    letter-spacing: 3px;
    text-transform: uppercase;
    display: block;
}

.carousel-caption h2{
    font-size: 90px;
    font-weight: 700;
    margin-bottom: 24px;
    font-family: 'Urbanist', sans-serif;
    color: white;
    text-transform: uppercase;
}

.carousel-caption h2 span{
    font-size: 60px;
    margin-right: 8px;
    color: #d7ae5a;
    font-weight: 700;
    display: inline-block;
}

.carousel-caption p{
    font-weight: 700;
    font-size: 16px;
    color: #c0c3c6;
    margin-bottom: 37px;
    font-family: 'Kumbh Sans', sans-serif;
    letter-spacing: 0.8px;
}
.carousel-caption button{
    
    margin-bottom: 22px;
    color: #fff;
    font-family: 'Urbanist', sans-serif;
    text-transform: uppercase;
    background: #d7ae5a;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: 700;
    padding: 19px 41px 17px 42px;
    border-radius: 35px;
    transition: all 500ms ease;
    border: 1px solid #d7ae5a;

}
.carousel-caption button:hover{
    background: transparent;
    border: 1px solid #d7ae5a;
}
main .overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    
}

/* RESPONSIVE */

@media screen and (max-width: 767px) {
    main{
        margin-top: -62px;
    }
    main .main-container{
      height: 100vh;
      
    }
    main .carousel{
        height: 100vh !important;
    }
    main .main-container .carousel .carousel-inner img{
        height:  100vh !important;
    }
    .carousel-indicators{
        left: 0px !important;
        margin-left: 46px !important;
        top: 60%;
    }
    .carousel-caption{
        left: 103px!important;
        top: 54%;
    }

    .carousel-caption >span{
        margin-bottom: 0px;
        font-size: 25px;
        letter-spacing: 3px;
    }
    .carousel-caption h2{
        font-size: 70px;
        margin-bottom: 22px;
    }
    
    .carousel-caption h2 span{
        font-size: 45px;
    }
    
    .carousel-caption p{
        font-size: 15.6px;
        width: 72%;
    }
    .carousel-caption button{
        
        margin-bottom: 0px;
        font-size: 13px;
        font-weight: 700;
        padding: 16px 32px;
        border-radius: 30px;
    
    }
    
}

@media screen and (max-width: 480px){
    main{
        margin-top: -53px;
    }
    main .main-container{
      height: 100vh;
    }
    main .carousel{
        height: 100vh !important;
    }
    main .main-container .carousel .carousel-inner img{
        height:  100vh !important;
    }
    .carousel-indicators{
        margin-left: 20px !important;
        top: 61%;
    }

    .carousel-indicators button{
        height : 48px !important;
        width: 2.4px !important;
    }
    .carousel-caption{
        left: 50px!important;
        top: 60%;
    }

    .carousel-caption >span{
        margin-bottom: 2px;
        font-size: 16px;
        letter-spacing: 2px;
    }
    .carousel-caption h2{
        font-size: 45px;
        margin-bottom: 22px;
    }
    
    .carousel-caption h2 span{
        font-size: 28px;
    }
    
    .carousel-caption p{
        font-size: 12px;
        width: 50%;
        margin-bottom: 20px;
    }
    .carousel-caption button{
        
        font-size: 10px;
        padding: 12px 20px;
    
    }
    
  
}
/* END MAIN */

/* poster */
.poster-section{
    background-color:#d7ae5a;
  
}
.background{
    background: url(../images/poster/shape-15.png) no-repeat;
    background-size: cover;
    width: 100%;
    height: 10px;
}

/* RESPONSIVE */

@media screen and (max-width: 767px) {
    .poster-section .poster{
    padding-bottom: 0px !important;      
    }
}

@media screen and (max-width: 480px){
    .poster-section i{
        font-size: 13px;
    }
    .poster-section p{
        font-size: 12px;
    }

}
/* end poster */

/* start our restaurant */
.our-restaurant{
    padding: 120px 140px;
    background-color: #1a1b1d;
}
.our-restaurant .left{
    width: 94.5%;
    height: 640.9px;
}

.our-restaurant .left img{
   position: absolute;
}
.our-restaurant .left img:nth-child(1){
    left: 50px;
    z-index: 2;
}
.our-restaurant .left img:nth-child(2){
   top: 0;
   right: 0;
   z-index: 2;
}

.our-restaurant .left img:nth-child(3){
    bottom: 0;

}

.our-restaurant .left .important-date{
    position: absolute;
    right: 85px;
    bottom: 65px;
   text-align: center;
}
.our-restaurant .left .important-date .text-shap{
    background: url(../images/ourRestaurant/shape-17.png) no-repeat;
    background-size: cover;
    width: 204px;
    height: 105px;
    position: absolute;
    left: -40px;
    top: -28px;
}
.our-restaurant .left .important-date p{
    font-family: 'Just Another Hand', cursive;
    color: #1a1b1d;
    font-weight: 500;
    font-size: 30px;
    transform: rotate(-18deg);
    letter-spacing: 1px;
}

.our-restaurant .right > h4{
    font-family: 'Just Another Hand', cursive;
    color: #d7ae5a;
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 7px;
    letter-spacing: 2.5px;
}

.our-restaurant .right > h2{
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 41px;
    color: white;
}

.our-restaurant .right  .about h5{
    font-family: 'Urbanist', sans-serif;
    margin-bottom: 15px;
    font-weight: 700;
    text-transform: uppercase;
    color: #d7ae5a;
}

.our-restaurant .right  .about > div > p{
    font-family: 'Kumbh Sans', sans-serif;
    color: #c0c3c6;
    font-weight: 400;
    margin-bottom: 25px;
    font-size: 18px;
}
.our-restaurant .right  .about .icons {
    margin-bottom: 15px;
    font-size: 18px;
    font-style: italic;
    
}
.our-restaurant .right  .about .icons i{
color: #d7ae5a;
}
.our-restaurant .right  .about .icons p{
    font-family: 'Kumbh Sans', sans-serif;
    color: #c0c3c6;
    font-weight: 400;
    
}
.our-restaurant .right  .about .last-icons{
    margin-bottom: 35px;
}
.our-restaurant .right  .about .res-logo{
    border-right: 1px solid;
    padding-right: 30px;
}

.our-restaurant .right  .about .logo .logo-desc{
    padding-left: 30px;
    
}

.our-restaurant .right  .about .logo .logo-desc h4{
    color: white;
    font-size: 22px;
    font-weight: 600;
    padding-bottom: 4px;
}
.our-restaurant .right  .about .logo .logo-desc p{
    font-family: 'Urbanist', sans-serif;
    font-size: 15px;
    font-weight: 700;
    text-transform: uppercase;
    color: #d7ae5a;
}
/* RESPONSIVE */

@media screen and (max-width: 767px) {
    .our-restaurant{
        padding: 90px 30px;
    }
    .our-restaurant .container{
        max-width: 650px;
    }
    .our-restaurant .col-6{
        width: 100%;
    }
    .our-restaurant .left{
       
        margin-bottom: 75px;
    }
   
    .our-restaurant .left img:nth-child(1){
        left: 50px;
        z-index: 2;
    }
    .our-restaurant .left img:nth-child(2){
       top: 0;
       right: 0;
       z-index: 2;
    }
   
    
    .our-restaurant .left .important-date{
        right: 110px;
        
    }


    
}

@media screen and (max-width: 480px){
    .our-restaurant{
        padding: 50px 13px;
    }

    .our-restaurant .left{
       
        margin-bottom: 60px;
    }

    .our-restaurant .left img:nth-child(1){
        left: 17px;
    }
    .our-restaurant .left img:nth-child(2){
        right:-25px;
     }

     .our-restaurant .left .important-date{
        right: 40px;
        bottom: 65px;
       text-align: center;
    } 

    .our-restaurant .right > h4{
        font-size: 22px;
        margin-bottom: 5px;
    }
    
    .our-restaurant .right > h2{
        font-size: 35px;
    }
    
    .our-restaurant .right  .about h5{
        margin-bottom: 12px;
    }
    
    .our-restaurant .right  .about > div > p{
        
        font-size: 14.8px;
    }
    .our-restaurant .right  .about .icons {
        font-size: 16px;
    }
    .our-restaurant .right  .about .logo .logo-desc h4{
        font-size: 20px;
    }
    .our-restaurant .right  .about .logo .logo-desc p{
        font-size: 14px;
    }
    

}
/* end our restaurant */

/* start not only food */
.n-o-food{
    background: url(../images/notOnlyFood/service-bg.jpg) no-repeat;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    height: 120vh;
}
.n-o-food .overlay{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0,0.6);
    
}
.n-o-food .container{
    padding: 120px 135px;
}
.n-o-food .header {
    margin: auto;
    margin-bottom: 41px;
   text-align: center;
}

.n-o-food .header h4{
    font-family: 'Just Another Hand', cursive;
    color: #d7ae5a;
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 7px;
    letter-spacing: 2.5px;
    text-transform: uppercase;
}
.n-o-food .header h2{
    font-size: 48px;
    font-weight: 700;
    color: white;
}
.n-o-food .card{
    padding: 70px 30px 50px 30px;
    background: #1a1b1d;
    border: 1px solid #3d3e41;
    overflow: hidden;
}
.n-o-food .card .icon-container{
 background-color: #d7ae5a;
 border-radius: 50%;
 margin: auto;
 width: 140px;
 height: 140px;
 text-align: center;
 position: relative;
 margin-bottom: 44px;
}

.n-o-food .card .icon-container::before{
    content: "";
    position: absolute;
    content: '';
    border: 1px solid #595959;
    width: 170px;
    height: 170px;
    border-radius: 50%;
    top: -10px;
    left: -15px;
}

.n-o-food .card .icon-container::after{
    position: absolute;
    content: '';
    border: 1px solid #595959;
    width: 170px;
    height: 170px;
    border-radius: 50%;
    top: -20px;
    left: -15px;
}
.n-o-food .card .icon-container .icon{
    width: 140px;
    height: 140px;
    position: relative;
}

.n-o-food .card .icon-container .icon::before{
    position: absolute;
    content: '';
    background: #595959;
    width: 10px;
    height: 10px;
    border-radius: 2px;
    top: 50%;
    left: -19px;
    transform: translateY(-50%) rotate(45deg);
}

.n-o-food .card .icon-container .icon::after{
    position: absolute;
    content: '';
    background: #595959;
    width: 10px;
    height: 10px;
    border-radius: 2px;
    top: 50%;
    right: -19px;
    transform: translateY(-50%) rotate(45deg);
}
.n-o-food .card .icon-container .icon i{
    line-height: 162px;
    font-size: 80px;
    color: #1a1b1d;
    
}

.n-o-food .card .rating{
    margin-bottom: 22px;
    list-style: none;
    text-align: center;
    padding-left: 0;
}
.n-o-food .card .rating li{
    display: inline-block;
    margin: 0px 7.5px;
}



.n-o-food .card .content h3{
    font-family: 'Urbanist', sans-serif;
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 14px;
    color: white;
}

.n-o-food .card .content p{
    font-family: 'Kumbh Sans', sans-serif;
    color: #c0c3c6;
    font-weight: 400;
    margin-bottom: 32px;
}
.n-o-food .card .btn-box{
    position: relative;
    z-index: 2;
}

.n-o-food .card .btn-box a{
    position: relative;
    text-decoration:none ;
    display: inline-block;
    font-size: 14px;
    color: #1f1f1f;
    font-family: 'Urbanist', sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    padding: 19px 29px 17px 29px;
    border-radius: 35px;
    transition: all 500ms ease;
}

.n-o-food .card .btn-box a::before{
    position: absolute;
    content: '';
    width: 56px;
    height: 56px;
    left: 0px;
    top: 0px;
    border-radius: 50%;
    clip-path: polygon(0% 0%, 90% 0%, 90% 100%, 0% 100%, 0% 0%);
    opacity: 1;
    border: 1px solid #d7ae5a;
    transition: all 500ms ease;
}
.n-o-food .card .btn-box a span{
    position: relative;
    display: inline-block;
    padding-left: 14px;
    color: #fff;
    transition: all 500ms ease;
}

.n-o-food .card .btn-box a span::before{
    position: absolute;
    content: '\276F';
    font-family: 'flaticon';
    /* left: -12px;
    top: -1px; */
    left: -7px;
    top: -5px;
    font-size: 20px;
    font-weight: 400;
    color: #d7ae5a;
    transition: all 500ms ease;
}

.n-o-food .card .block-bg-1{
    background : url(../images/notOnlyFood/service-3.jpg) no-repeat;
    background-size: 101% 101%;
    position: absolute;
    top: 0;
    left: -101%;
    height: 100%;
    width: 100%;
    z-index: 1;
    opacity: 0;
    visibility: hidden;
    transition: all 0.6s ease;
}
.n-o-food .card .block-bg-2{
    background : url(../images/notOnlyFood/service-2.jpg) no-repeat;
    background-size: 101% 101%;
    position: absolute;
    top: 0;
    left: -101%;
    height: 100%;
    width: 100%;
    z-index: 1;
    opacity: 0;
    visibility: hidden;
    transition: all 0.6s ease;
}
.n-o-food .card .block-bg-3{
    background : url(../images/notOnlyFood/service-1.jpg) no-repeat;
    background-size: 101% 101%;
    position: absolute;
    top: 0;
    left: -101%;
    height: 100%;
    width: 100%;
    z-index: 1;
    opacity: 0;
    visibility: hidden;
    transition: all 0.6s ease;
}
.n-o-food .card:hover .block-bg{
    visibility: visible;
    opacity: 1;
    transform: translateX(100%);
}
.n-o-food .card:hover .btn-box a{
    background-color: #d7ae5a;
}
.n-o-food .card:hover .btn-box a::before{
    border: none;
}
.n-o-food .card:hover .btn-box a span{
    transform: translateX(5%);
}
.n-o-food .card:hover .btn-box a span::before{
    color: white;
    transform: translateX(5%);
}

.n-o-food .end-bg{
    background: url(../images/notOnlyFood/bottom-shape.png) no-repeat;
    background-size: cover;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 20px;
    z-index: 3;
}

.n-o-food .start-bg{
    background: url(../images/chefs/top-shape.png) no-repeat;
    background-size: cover;
    position: absolute;
    left: 0;
    width: 100%;
    height: 20px;
    z-index: 4;
}

/* RESPONSIVE */

@media screen and (max-width: 767px) {
    .n-o-food{
        height: 274vh;
    }
    
    .n-o-food .container{
        padding: 90px 30px;
    }
    
    .n-o-food .header h2{
        font-size: 40px;
      
    }

    .n-o-food .media{
        display: grid;
        row-gap: 20px;
    }
    .n-o-food .media .col-4{
        width: 80%;
        margin: auto;
    }
    .n-o-food .card{
        padding: 70px 30px 50px 30px;
    }
    .n-o-food .card .icon-container{
     background-color: #d7ae5a;
     border-radius: 50%;
     margin: auto;
     width: 140px;
     height: 140px;
     text-align: center;
     position: relative;
     margin-bottom: 44px;
    }
    
}

@media screen and (max-width: 480px){
    .n-o-food .header h2{
        font-size: 36px;
      
    }
}
/* end not only food */

/* start reserve */
.reserve {
    background: #1a1b1d;
}
.reserve .container{
    padding: 120px 135px 57px;
    
}
.reserve .container .header{
    margin: auto;
}
.reserve .container .header .icon{
    position: relative;
    width: 90px;
    height: 90px;
    line-height: 90px;
    text-align: center;
    font-size: 45px;
    border-radius: 50%;
    color: #1f1f1f;
    background-color: #d7ae5a;
}

.reserve .container .header h4{
    margin-top: 25px;
    color: #d7ae5a;
    font-size: 24px;
    font-family: 'Just Another Hand', cursive;
    font-weight: 600;
    
    margin-bottom: 7px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
}

.reserve .container .header h2{
    color: #fff;
    font-size: 48px;
    font-weight: 700;
    font-family: 'Urbanist', sans-serif;
}

.reserve .container .header p{
    margin-top: 12px;
    color: #c0c3c6;
    font-family: 'Kumbh Sans', sans-serif;
    font-weight: 400;
}

/* RESPONSIVE */

@media screen and (max-width: 767px) {
    
    .reserve .container{
        padding: 60px 30px 57px;
        
    }
}

@media screen and (max-width: 480px){
    .reserve .container .header h2{
        font-size: 42px;
    }
}

/* end reserve */

/* start book */
.book{
    position: relative;
    padding: 55px 0px 60px 0px;
    
    
}

.book .book-bg{
    position: absolute;
    width: 100%;
    height: 100%;
    background: url(../images/book/booking-bg-2.jpg) no-repeat;
    background-size: cover;
    background-attachment: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}
.book .book-bg::before{
    position: absolute;
    content: '';
    background: #121213;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
    opacity: 0.8;
}
.book::before{
    position: absolute;
    content: '';
    width: calc(100% - 200px);
    height: 2px;
    left: 100px;
    top: 0px;
    z-index: 3;
    background: #d7ae5a;
}
.book::after{
    position: absolute;
    content: '';
    width: calc(100% - 200px);
    height: 2px;
    left: 100px;
    bottom: 0px;
    z-index: 3;
    background: #d7ae5a;
}
.book .container{
    padding: 0 75px;
}
.book .input-box-container label{
    
    font-size: 16px;
    font-family: 'Urbanist', sans-serif;
    color: #fff;
    font-weight: 500;
    margin-bottom: 7px;
}
.book .input-box-container .input-box input{
    background-color: transparent;
    width: 100%;
    height: 54px;
    border: 1px solid #4b4d50;
    padding: 10px 50px 10px 20px;
    font-size: 18px;
    color: #c0c3c6;
    transition: all 500ms ease;
}
.book .input-box-container .input-box i{
    position: absolute;
    right: 20px;
    color: #c0c3c6;
    top: 50%;
    transform: translatey(-50%);
}
.book .input-box-container .input-box input:focus + i{
    color: white;
}
.book .book-p{
    margin-top: 33px;
    margin-bottom: 33px;
    color: #c0c3c6;
    font-family: 'Kumbh Sans', sans-serif;
    font-weight: 400;
   
}
.book button{
    
    margin-bottom: 22px;
    color: #fff;
    font-family: 'Urbanist', sans-serif;
    text-transform: uppercase;
    background: #d7ae5a;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: 700;
    padding: 19px 41px 17px 42px;
    border-radius: 35px;
    transition: all 500ms ease;
    border: 1px solid #d7ae5a;

}
.book button:hover{
    background: transparent;
    border: 1px solid #d7ae5a;
}

/* RESPONSIVE */

@media screen and (max-width: 767px) {
    .book{
        padding: 55px 0px 42px 0px;
        
    }
   
    .book .container{
        padding: 0 30px;
    }

    .book .media .col-3{
        width: 50% !important;
    }

    .book button{
       
        padding: 19px 35px 17px 35px;
    
    }
    
}

@media screen and (max-width: 480px){
    .book .media .col-3{
        width: 100% !important;
        margin-bottom: 15px;
    }
}
/* end book */

/* start chefs */ 
.chefs{
    padding: 115px 0 120px;
    background: #1a1b1d;
   position: relative;
}
.chefs .container {
    margin-left:136.4px !important ;
}
.chefs .header{
    margin-bottom: 50px;
}
.chefs .header h4{
    color: #d7ae5a;
    font-size: 24px;
    font-family: 'Just Another Hand', cursive;
    font-weight: 600;
    margin-bottom: 7px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
}

.chefs .header h2{
    color: #fff;
    font-size: 48px;
    font-weight: 700;
    font-family: 'Urbanist', sans-serif;
}
.chefs .col-4{
    width: 370px;
    height: 480px;
}
.chefs .card {
    width: 370px;
    height: 480px;
    overflow: hidden;
}
.chefs .card > img{
    transition: 1s ease;
}
.chefs .card .content{
    background: #26272a;
    padding: 24px 30px;
    position: absolute;
    right: 0px;
    bottom: 0px;
    width: calc(100% - 30px);
    z-index: 2;
}
.chefs .card .content .right{
    background: url(../images/chefs/shape-21.png) repeat-y;
    position: absolute;
    top: 0px;
    right: 0px;
    width: 18px;
    height: 147.6px;
}
.chefs .card .content h3{
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 0px;
    font-family: 'Urbanist', sans-serif;
}

.chefs .card .content h3 a{
    color: #fff;
    text-decoration: none;
    transition: 0.7s ease;
}
.chefs .card .content h3 a:hover{
    color: #d7ae5a;
}
.chefs .card .content > p{
    margin-bottom: 9px;
    color: #d7ae5a;
}

.chefs .card .content .arrow a{
    font-size: 14px;
    color: #fff;
    font-family: 'Urbanist', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    padding-left: 22px;
    text-decoration: none;
}

.chefs .card .overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    visibility: hidden;
    opacity: 0;
    transition: 0.5s;
    overflow: hidden;
    backdrop-filter: blur(3px);
  }
  .chefs .card .overlay div {
    padding-top: 22px;
    transform: translate(12%);
    transition: 1s;
    
  }
  .chefs .card .overlay a{
    display: block;
    width: 44px;
    height: 44px;
    font-size: 16px;
    color: #797a7d;
    margin-left: auto ;
    line-height: 44px ;
    background: #fff;
    border-radius: 50%;
    text-align: center;
    margin-bottom: 5px;
    transition: 0.7s ease;
  }
  .chefs .card .overlay a:hover{
    background-color: #d7ae5a;
    color: white;
  }
  .chefs .card:hover >img{
    transform: scale(1.1);
  }
  .chefs .card:hover .overlay{
    visibility: visible;
    opacity: 1;
   }
   .chefs .card:hover .overlay div{
     transform: translate(-10px);
   }
   .chefs .start-bg{
    background: url(../images/chefs/top-shape.png) no-repeat;
    background-size: cover;
    position: absolute;
    left: 0;
    bottom: -19px;
    width: 100%;
    height: 20px;
    z-index: 4;
}

/* RESPONSIVE */

@media screen and (max-width: 767px) {
    .chefs{
        padding: 90px 0 90px;
    }
    
    .chefs .header{
        text-align: center;
    }
    
    .chefs .header h2{
        font-size: 40px;
    }
    .chefs .col-4{
        width: 370px;
        height: 480px;
        margin: auto;
    }
    
}

@media screen and (max-width: 480px){
    .chefs{
        padding: 80px 0 60px;
    }
    .chefs .container {
        margin-left:0px !important ;
    }

    .chefs .header h2{
        font-size:36px;
    }
    
}
/* end chefs */ 

/* start fresh */
.fresh {
    background: url(../images/fresh/video-bg.jpg) no-repeat;
    background-size: cover;
    overflow: hidden;
    position: relative;
}
.fresh .overall .video-btn a{
    position: relative;
    color: #d7ae5a;
    position: relative;
    display: inline-block;
    width: 110px;
    height: 110px;
    background: #fff;
    font-size: 24px;
    text-align: center;
    border-radius: 50%;
    text-decoration: none;
    line-height: 116px;
}
.fresh .overall .video-btn a::before{
    position: absolute;
    content: '';
    width: 140px;
    height: 140px;
    left: -15px;
    top: -15px;
    border: 2px solid #fff;
    border-radius: 50%;
}

.fresh .overall .video-btn a .border-animation{
    position: absolute;
    width: 140px;
    height: 140px;
    left: -15px;
    top: -15px;
    border: 2px solid rgba(255,255,255,.5);
    border-radius: 50%;
    opacity: 0;
    animation: squares 2.9s linear 0s infinite;
    animation-play-state: running;

}
.fresh .overall .video-btn a .an-border-2{
    animation-delay: 1s;
}
.fresh .overall .video-btn a .an-border-3{
    animation-delay: 2s;
}

.fresh .overall .right{
    padding: 138px 125px;
    padding-left: 95px;
    background: #24262a;
    opacity: 0.9;
}
.fresh .overall .right .icon{
    position: relative;
    width: 90px;
    height: 90px;
    line-height: 90px;
    text-align: center;
    font-size: 45px;
    border-radius: 50%;
    color: #1f1f1f;
    background-color: #d7ae5a;
    margin-bottom: 25px;
}

.fresh .overall .right > h2{
    color: #fff;
    font-size: 48px;
    font-weight: 700;
    font-family: 'Urbanist', sans-serif;
}

.fresh .overall .right > p{
    margin-top: 13px;
    color: #c0c3c6;
    font-family: 'Kumbh Sans', sans-serif;
    font-weight: 400;
    margin-bottom: 50px;
}

.fresh .overall .right .input-cont{
    position: relative;
    margin-bottom: 30px;
    width: 100%;
    /* border-bottom: 1px solid #595959; */
}
.fresh .overall .right .input-cont .second-icon{
    color: #d7ae5a;
    font-size: 16px;
}

.fresh .overall .right .input-cont input{
   background-color: transparent;
   border: none;
   outline: none;
   font-size: 18px;
    color: #fff;
    border-bottom: 1px solid #484c50;
    padding: 0px 20px 0px 26px;
    transition: all 500ms ease;
    height: 53px;
    width:100%;
    
}
.fresh .overall .right .input-cont input::placeholder{
    color: white;
}
    
.fresh .overall .right .input-cont input:focus{
    border-color: #d7ae5a;
}

.fresh .overall .right .subscribe{
    margin-top: 60px;
    margin-bottom: 0;
    position: relative;
}
.fresh .overall .right .subscribe button::before{
    position: absolute;
    content: '';
    width: 56px;
    height: 56px;
    left: 0px;
    top: 0px;
    border-radius: 50%;
    clip-path: polygon(0% 0%, 90% 0%, 90% 100%, 0% 100%, 0% 0%);
    opacity: 1;
    transition: all 500ms ease;
    border: 1px solid #d7ae5a;
}

.fresh .overall .right .subscribe button{
    position: relative;
    display: inline-block;
    font-size: 14px;
    line-height: 20px;
    background-color: transparent;
    font-family: 'Urbanist', sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    padding: 19px 29px 17px 29px;
    border-radius: 35px;
    transition: all 500ms ease;
    cursor: pointer;
    border: none;
    outline: none;
    color: #fff;
}

.fresh .overall .right .subscribe button:hover{
    background-color: #d7ae5a;
    
}
.fresh .start-bg{
    background: url(../images/fresh/bottom-shape.png) no-repeat;
    background-size: cover;
    position: absolute;
    left: 0;
    bottom: 0px;
    width: 100%;
    height: 20px;
    z-index: 4;
}

@keyframes squares{
    0% {
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -o-transform: scale(1);
        transform: scale(1);
        opacity: 0;
    }
    20% {
        -webkit-transform: scale(1.24);
        -moz-transform: scale(1.24);
        -o-transform: scale(1.24);
        transform: scale(1.24);
        opacity: 1;
    }
    100% {
        -webkit-transform: scale(2.1);
        -moz-transform: scale(2.1);
        -o-transform: scale(2.1);
        transform: scale(2.1);
        opacity: 0;
    }
}

/* RESPONSIVE */

@media screen and (max-width: 767px) {
    
   
    
    .fresh .overall .right{
        padding: 120px 30px;
        padding-left: 30px;
       
    }

    .fresh .start-bg{
        display: none;
    }
    
}

@media screen and (max-width: 480px){
    .fresh .overall .right{
        padding: 85px 5px;
        padding-left: 14px;
       
    }

    .fresh .overall .right > h2{
        font-size: 40px;
       
    }

    .fresh .overall .video-btn a{
        position: relative;
        color: #d7ae5a;
        position: relative;
        display: inline-block;
        width: 110px;
        height: 110px;
        background: #fff;
        font-size: 24px;
        text-align: center;
        border-radius: 50%;
        text-decoration: none;
        line-height: 116px;
    }
    .fresh .overall .video-btn a::before{
        position: absolute;
        content: '';
        width: 140px;
        height: 140px;
        left: -15px;
        top: -15px;
        border: 2px solid #fff;
        border-radius: 50%;
    }

    @keyframes squares{
        0% {
            -webkit-transform: scale(1);
            -moz-transform: scale(1);
            -o-transform: scale(1);
            transform: scale(1);
            opacity: 0;
        }
        20% {
            -webkit-transform: scale(1.14);
            -moz-transform: scale(1.14);
            -o-transform: scale(1.14);
            transform: scale(1.14);
            opacity: 1;
        }
        100% {
            -webkit-transform: scale(1.7);
            -moz-transform: scale(1.7);
            -o-transform: scale(1.7);
            transform: scale(1.7);
            opacity: 0;
        }
    }
    
}
/* end fresh */

/* start testimonials */

.testimonials{
    background: url(../images/testimonials/testimonial-bg-2.jpg) no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 130vh;
    position: relative;
}

.testimonials .overlay{
    content: "";
    background-color: rgba(0, 0, 0, 0.6);
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}
.testimonials .underline{
    background: url(../images/testimonials/shape-25.png) no-repeat;
    background-size: cover;
    height: 13px;
    width: 13%;
    margin: auto;
}
.testimonials .row:nth-child(2){
    margin-top: 250px;
}
.testimonials .test-block{
    position: relative;
    padding: 81px 60px 73px;
    margin: auto;
    width: 45%;
    border: 1px solid #d7ae5a;
    top: 50%;
    transform: translateY(-20%);
    border-top: none;
}
.testimonials .test-block::before{
    position: absolute;
    content: '';
    width: 58px;
    height: 1px;
    left: 0px;
    top: 0px;
    background: #d7ae5a;
}
.testimonials .test-block::after{
    position: absolute;
    content: '';
    width: calc(100% - 230px);
    height: 1px;
    right: 0px;
    top: 0px;
    background: #d7ae5a;

}
.testimonials .test-block .left-img{
    background-image: url(../images/testimonials/shape-24.png);
    background-size:cover;
    position: absolute;
    left: -26px;
    top: 0px;
    height: 100%;
    width: 21px;
    background-repeat: repeat-y;
}

.testimonials .curve-text{
    position: absolute;
    left: 145px;
    top: -71px;
}
.testimonials .curve-text .c-icon{
    
    background-color: #d7ae5a;
    border-radius: 50%;
    text-align: center;
    width: 90px;
    height: 90px;
    line-height: 94px;
    font-size: 35px;
    color: #1a1b1d;
    position: absolute;
    left: -44px;
    top: 26px;
}

.testimonials .curve-text .curved-circle{
    position: absolute;
    height: 141.467px;
    display: inline-block;
    font-size: 14px;
    font-family: 'Urbanist', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
    transform: rotate(159deg);

}

.testimonials .curve-text .curved-circle span{
    position: absolute;
    left: 50%;
    transform-origin: center 5.07143em;
    color: #fff ;

}


/* curved-text */

.testimonials .curve-text .curved-circle .char1{
    margin-left: -0.428571em;
    transform: rotate(-173.716deg);
}
.testimonials .curve-text .curved-circle .char2{
    margin-left: -0.392857em;
    transform: rotate(-160.306deg);
}

.testimonials .curve-text .curved-circle .char3{
    margin-left: -0.357143em;
    transform: rotate(-148.116deg);
}
.testimonials .curve-text .curved-circle .char4{
    margin-left: -0.142857em;
    transform: rotate(-139.582deg);
}
.testimonials .curve-text .curved-circle .char5{
    margin-left: -0.392857em;
    transform: rotate(-130.439deg);
}
.testimonials .curve-text .curved-circle .char6{
    margin-left: -0.392857em;
    transform: rotate(-117.03deg);
}
.testimonials .curve-text .curved-circle .char7{
    margin-left: -0.357143em;
    transform: rotate(-104.839deg);
}
.testimonials .curve-text .curved-circle .char8{
    margin-left: -0.357143em;
    transform: rotate(-93.8676deg);
}
.testimonials .curve-text .curved-circle .char9{
    margin-left: -0.428571em;
    transform: rotate(-81.677deg);
}
.testimonials .curve-text .curved-circle .char10{
    margin-left: -0.5em;
    transform: rotate(-66.4387deg);
}
.testimonials .curve-text .curved-circle .char11{
    margin-left: -0.321429em;
    transform: rotate(-52.4195deg);
}
.testimonials .curve-text .curved-circle .char12{
    margin-left: -0.357143em;
    transform: rotate(-40.8385deg);
}
.testimonials .curve-text .curved-circle .char13{
    margin-left: -0.142857em;
    transform: rotate(-32.3051deg);
}
.testimonials .curve-text .curved-circle .char14{
    margin-left: -0.357143em;
    transform: rotate(-24.3812deg);
}
.testimonials .curve-text .curved-circle .char15{
    margin-left: -0.321429em;
    transform: rotate(-13.4097deg);
}
.testimonials .curve-text .curved-circle .char16{
    margin-left: -0.392857em;
    transform: rotate(-1.21906deg);
}
.testimonials .curve-text .curved-circle .char17{
    margin-left: -0.178571em;
    transform: rotate(8.53341deg);
}
.testimonials .curve-text .curved-circle .char18{
    margin-left: -0.321429em;
    transform: rotate(17.0668deg);
}
.testimonials .curve-text .curved-circle .char19{
    margin-left: -0.5em;
    transform: rotate(31.086deg);
}
.testimonials .curve-text .curved-circle .char20{
    margin-left: -0.357143em;
    transform: rotate(45.7147deg);
}
.testimonials .curve-text .curved-circle .char21{
    margin-left: -0.142857em;
    transform: rotate(54.2481deg);
}
.testimonials .curve-text .curved-circle .char22{
    margin-left: -0.357143em;
    transform: rotate(62.172deg);
}
.testimonials .curve-text .curved-circle .char23{
    margin-left: -0.392857em;
    transform: rotate(73.1435deg);
}
.testimonials .curve-text .curved-circle .char24{
    margin-left: -0.357143em;
    transform: rotate(84.7246deg);
}
.testimonials .curve-text .curved-circle .char25{
    margin-left: -0.142857em;
    transform: rotate(93.258deg);
}
.testimonials .curve-text .curved-circle .char26{
    margin-left: -0.178571em;
    transform: rotate(98.7438deg);
}
.testimonials .curve-text .curved-circle .char27{
    margin-left: -0.357143em;
    transform: rotate(107.887deg);
}
.testimonials .curve-text .curved-circle .char28{
    margin-left: -0.142857em;
    transform: rotate(116.42deg);
}
.testimonials .curve-text .curved-circle .char29{
    margin-left: -0.392857em;
    transform: rotate(125.563deg);
}
.testimonials .curve-text .curved-circle .char30{
    margin-left: -0.285714em;
    transform: rotate(137.144deg);
}
.testimonials .curve-text .curved-circle .char31{
    margin-left: -0.285714em;
    transform: rotate(146.897deg);
}
.testimonials .curve-text .curved-circle .char32{
    margin-left: -0.142857em;
    transform: rotate(154.211deg);
}
.testimonials .curve-text .curved-circle .char33{
    margin-left: -0.142857em;
    transform: rotate(159.087deg);
}
.testimonials .curve-text .curved-circle .char34{
    margin-left: -0.142857em;
    transform: rotate(163.963deg);
}
.testimonials .curve-text .curved-circle .char35{
    margin-left: -0.142857em;
    transform: rotate(168.84deg);
}
.testimonials .curve-text .curved-circle .char36{
    margin-left: -0.142857em;
    transform: rotate(173.716deg);
}
.testimonials .curve-text .curved-circle .char37{
    margin-left: -0.142857em;
    transform: rotate(178.592deg);
}
.testimonials .test-block .animated-img{
    position: absolute;
    right: -71px;
    bottom: -71px;
    animation: zoom-fade 5s infinite linear;
}


.testimonials .img-container{
    background-color: #d7ae5a;
    border-radius: 50%;
    margin: auto;
    width: 140px;
    height: 140px;
    text-align: center;
    position: relative;
    margin-bottom: 60px;
   }
   
   .testimonials .img-container::before{
       content: "";
       position: absolute;
       content: '';
       border: 1px solid #595959;
       width: 170px;
       height: 170px;
       border-radius: 50%;
       top: -10px;
       left: -15px;
   }
   
   .testimonials .img-container::after{
       position: absolute;
       content: '';
       border: 1px solid #595959;
       width: 170px;
       height: 170px;
       border-radius: 50%;
       top: -20px;
       left: -15px;
   }
   .testimonials .img-container .image{
       width: 140px;
       height: 140px;
       position: relative;
   }
   
   .testimonials .img-container .image::before{
       position: absolute;
       content: '';
       background: #595959;
       width: 10px;
       height: 10px;
       border-radius: 2px;
       top: 50%;
       left: -19px;
       transform: translateY(-50%) rotate(45deg);
   }
   
   .testimonials .img-container .image::after{
       position: absolute;
       content: '';
       background: #595959;
       width: 10px;
       height: 10px;
       border-radius: 2px;
       top: 50%;
       right: -19px;
       transform: translateY(-50%) rotate(45deg);
   }
   .testimonials .img-container .image img{
      
       width: 100%;
       border-radius: 50%;
       
   }

   .testimonials .stars i{
    color: #d7ae5a;
      padding-right: 5px;
      font-size: 18px;
   }

   .testimonials p{
    margin-bottom: 34px;
    color: #c0c3c6;
    font-family: 'Kumbh Sans', sans-serif;
    font-weight: 400;
   }

   .testimonials h3{
    font-size: 22px;
    line-height: 32px;
    font-weight: 600;
    color: #fff;
    margin-bottom: 0px;
    font-family: 'Urbanist', sans-serif;
   }

   .testimonials span{
    color: #d7ae5a;
   }

   @keyframes zoom-fade{
    0% {
        -webkit-transform: scale(0.9);
        transform: scale(0.9);
    }
    50% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    100% {
        -webkit-transform: scale(0.9);
        transform: scale(0.9);
    }
}

.testimonials .end-bg{
    background: url(../images/notOnlyFood/bottom-shape.png) no-repeat;
    background-size: cover;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 20px;
    z-index: 3;
}

/* RESPONSIVE */

@media screen and (max-width: 767px) {
    .testimonials{
        height: 126vh;
    }
  
    .testimonials .underline{
        width: 23%;

    }
   
    .testimonials .test-block{
        width: 92%;
        top: 40%;
    }
    
}

@media screen and (max-width: 480px){

    
    .testimonials .test-block{
        width: 82%;
    }
    .testimonials .test-block .animated-img{
        width: 40% !important;
        right: -50px;
        bottom: -58px;
    }

    .testimonials .underline{
        width: 20%;
        margin-top: -50px;
    }
}
/* end testimonials */
/* start private */
.private{
    padding: 120px 70px 0px 70px;
    background-color: #1a1b1d;
}

.private .container{
    background: #26272a;
    padding: 110px 0px 120px 0px;
    position: relative;
    height: 530px;
}

.private .container h2{
    color: #fff;
    font-size: 48px;
    font-weight: 700;
}

.private .container p{
    color: #c0c3c6;
    margin-top: 12px;
    font-family: 'Kumbh Sans', sans-serif;
    font-weight: 400;
    margin-bottom: 25px;
}
.private .container small{
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 8px;
    font-family: 'Urbanist', sans-serif;
    color: #d7ae5a;
    cursor: pointer;
    transition: 500ms ease;
}

.private .container small:hover{
    text-decoration: underline;
}
.private .container h3{
    font-size: 30px;
    font-weight: 600;
    margin-top: 12px;
    margin-bottom: 20px;
    font-family: 'Urbanist', sans-serif;
    color: white;
    transition: 0.5s ease;
    cursor: pointer;
}

.private .container h3:hover{
    color: #d7ae5a;
}
.private .container button{
    color: #1f1f1f !important;
    padding: 19px 43px 17px 44px;
    border: none;
    background: #d7ae5a;
    font-size: 14px;
    font-family: 'Urbanist', sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    border-radius: 35px;
    transition: 0.5s ease;
}
.private .container button:hover{
    background-color: white;
    
}
.private .container .image{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: auto;
}
.private .container .left{
    width: 536px;
    z-index: 2;
}
.private .container .patterns{
    width: 0;
}
.private .container .patterns .pattern-1{
background: url(../images/private/shape-26.png) no-repeat;
background-size: cover;
position: absolute;
    left: 0px;
    top: 0px;
    width: 360px;
    height: 244px;
}
.private .container .patterns .pattern-2{
 background: url(../images/private/shape-27.png) no-repeat;
  background-size: cover;
  position: absolute;
    right: 0px;
    bottom: 0px;
    width: 360px;
    height: 244px;
 }
 .private .container .patterns .pattern-3{
  background: url(../images/private/shape-28.png) no-repeat;
 background-size: cover;
 position: absolute;
    left: 33%;
    top: -35px;
    width: 92px;
    height: 83px;
 }
 .private .container .patterns .pattern-4{
 background: url(../images/private/shape-29.png) no-repeat;
 background-size: cover;
 position: absolute;
    left: 58%;
    top: 90px;
    width: 41px;
    height: 67px;
  }
 .private .container .patterns .pattern-5{
    background: url(../images/private/shape-30.png) no-repeat;
  background-size: cover;
  position: absolute;
    left: 50px;
    bottom: 0px;
    width: 176px;
    height: 197px;
   }
  .private .container .patterns .pattern-6{
    background: url(../images/private/shape-31.png) no-repeat;
    background-size: cover;
    position: absolute;
    top: -40px;
    right: 50px;
    width: 192px;
    height: 131px;
 }

 /* RESPONSIVE */

 @media screen and (max-width: 767px) {
    .private{
        padding: 0px 0px 0px ;
        overflow: hidden;
    }
    
    .private .container{
        background: #26272a;
        padding: 0px 0px 0px 0px;
        max-width: 100% !important;
        height: 590px;
    }
    
    .private .container h2{
        font-size: 32px;
    }
    .private .container h3{
        font-size: 30px;
    }
    .private .container p{
        color: #c0c3c6;
        margin-top: 9px;
        margin-bottom: 25px;
    }
    .private .container small{
        font-size: 12px;
        
        margin-bottom: 8px;
       
    }

    .private .container .left{
        width: 350px;
        top: 10%;
        text-align: start;
        padding-left: 20px;
    }
    .private .container .right{
        width: 320px;
        top: 10%;
        text-align: end;
        padding-right: 30px;
    }
    
    
    .private .container button{
        padding: 18px 33px 16px 33px;
       
    }
   
     .private .container .patterns .pattern-3,
     .private .container .patterns .pattern-4,
     .private .container .patterns .pattern-6{
      display: none;
     }
     
     
 }

 @media screen and (max-width: 480px){
    .private .container .right{
      display: none;
    }
    .private .container .left{
        width: 350px;
        top: 3%;
        text-align: start;
        padding-left: 20px;
    }
    .private .container .patterns .pattern-5{
        display: none;
    }
    .private .container .image{
        position: absolute;
        bottom: 0;
        left: 72%;
        transform: translateX(-50%);
        width: 60%;
    }
 }
/* end private */

/* footer */
footer{
    background-color: #1a1b1d;

}
footer .container{
    padding-top: 70px ;
    padding-bottom: 70px;
    border-bottom: 1px solid #c0c3c621;
    width: 78%;
}
.footer-1 img{
    width: 30%;
}
.footer-1 .nav-item a{
color: #c0c3c6;
transition: all 500ms ease;
}
.footer-1 .nav-item a:hover{
    color: #bf9239;
}
footer h2{
    color: white;
    font-size: 28px;
    font-weight: 400;
}
footer p{
    color: #c0c3c6;
    font-family: 'Kumbh Sans', sans-serif;
    font-weight: 400;
    margin-bottom: 25px;
}
 footer a{
    text-decoration: none;
    color: #d7ae5a;
    transition:all 0.5s ease;
}
footer a:hover{
    text-decoration: underline;
    color: #bf9239;
}

footer .contact h2{
margin-bottom: 30px;
}
footer .contact .two-t p:first-child{
    color: white;
    
    text-transform: uppercase;
}
footer .contact .two-t:nth-child(4){
    margin-bottom: 30px;
}
.footer-2 .imgs img{
 width: 80px ;
}

.footer-3 h4{
 font-size: 16px;
 font-weight: 400;
 color: #c0c3c6;
}
.footer-3 .container{
    border-bottom: none;
}

/* RESPONSIVE */

@media screen and (max-width: 767px) {
   
    footer .container{
        padding-top: 40px ;
        padding-bottom:40px;
        min-width: 87% !important; 
        margin: 0 50px;
        
    }
    .footer-1 img{
        width: 51%;
    }
    .footer-1 .nav-item a{
    font-size: 14px;
    padding-right: 5px;
    }
    .footer-2 .col-4{
     width: 50% ;
     margin-bottom: 20px;
    }
   
    .footer-2 .col-4 p,
    .footer-2 .col-4 .contact .two-t:nth-child(4),
    .footer-2 .col-4 .gallery .imgs
    {
        margin-bottom: 16px !important;
    }
    .footer-2 .imgs img{
        width: 80px ;
       }
    footer h2{
        font-size: 26px;
        
    }
    footer p{
        color: #c0c3c6;
        font-family: 'Kumbh Sans', sans-serif;
        font-weight: 400;
        margin-bottom: 25px;
    }
     footer a{
        text-decoration: none;
        color: #d7ae5a;
        transition:all 0.5s ease;
    }
    footer a:hover{
        text-decoration: underline;
        color: #bf9239;
    }
    
    footer .contact h2{
    margin-bottom: 30px;
    }
    footer .contact .two-t p:first-child{
        color: white;
        
        text-transform: uppercase;
    }
    footer .contact .two-t:nth-child(4){
        margin-bottom: 30px;
    }
   
    
    .footer-3 h4{
     font-size: 16px;
    }
    
}

@media screen and (max-width: 480px){
    footer .container{
        padding-top: 30px ;
        padding-bottom:30px;
        min-width: 95% !important; 
        margin: 0 13px;
        
    }

    .footer-2 .col-4{
        width:100% ;
        margin-bottom: 30px;
        padding-bottom: 20px;
       }

       .footer-2 .col-4:not(:last-child){
        border-bottom: 1px solid #c0c3c621;

       }
       .footer-3 h4{
        font-size: 12px;
       }
       .footer-3 a{
        display: none;
       
       }
}
/* end footer */